body { text-align:center; }

.blerbs
{
  width:35%;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:left;
}

h1
{
  font-family: 'Josefin Slab', serif;
  font-size: 3.5em;
}
