<h1>About Me</h1>
<!--to proof -->
I'm a computer programmer living in the beuteful city of Toronto. I like building apps for the web, desktop, and moble, with the goal of sovling problems using code in smarter ways.

<h1>My Projects</h1>
<!--to proof -->
<!--add link to github-->
You can look at some of free projects I work on at github.com/danielsomers

<h1>Contact me</h1>
daniel.somers@gmail.com
