<h1>About Me</h1>
<div id="about" class="blerbs">
  <!--to proof -->
  I'm a computer programmer living in the beuteful city of Toronto. I like building apps for the web, desktop, and moble, with the goal of sovling problems using code in smarter ways.
</div>

<h1>My Projects</h1>
<div id="projects" class="blerbs">
  <!--to proof -->
  You can look at some of the projects I work on at 
  <%=link_to "my github page", "http://github.com/danielsomers"%>.
</div>

<h1>Contact me</h1>
<div id="contact" class="blerbs">
  <%= mail_to "daniel.somers@gmail.com", "daniel.somers@gmail.com" %>
</div>
