<!DOCTYPE html>
<html>
<head>
  <title>Daniel Somers</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--nave tool bar-->
<!--About Daniel, My Projects, Contact, Tech Expertesse, CV -->
<!--title-->
<h1>Daniel Somers</h1>
<h4>I write computer code.</h4>
<%= yield %>
<!--create a footer with a copyright notice-->
</body>
</html>
