<!DOCTYPE html>
<html>
<head>
  <title>Daniel Somers</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--nav tool bar-->
<!--About Daniel, My Projects, Contact, Tech , CV -->
<div id="header">
  <h1>Daniel Somers</h1>
  I write computer code.
</div>
<%= yield %>
<div id="footer">
  Copyright &copy; 2013 Daniel Somers. All rights reserved.
</div>
</body>
</html>
